//- layout.jade
doctype html
html
  head
    meta(name="google-signin-client_id" content="951761439229-2k8p8k4fcvioun5fm40rjo32g32eih6e.apps.googleusercontent.com")
    link(rel="stylesheet", type="text/css", href="styles/main.css")
    script(src="components/jquery/dist/jquery.js")
    script(src="components/uri.js/src/uri.min.js")
    script(src="components/uri.js/src/jquery.URI.min.js")
    script(src="components/js-url/url.js")
  body(fullbleed layout)
    block content
  script(src="scripts/utility.js")
  script(src="scripts/auth.js")
  script(src="scripts/questions.js")
  script(src="scripts/answers.js")
  script(src="scripts/antagonism.js")
  script(src="scripts/interface.js")

  script(src="https://apis.google.com/js/api:client.js?onload=startApp")